<div class="container">
	<div class="container">
		<h1>About</h1>
		<p>
	The Twelfth Plan must also aim at computerizing and interlinking all health facilities (Sub-centres,
	Primary Health Centres, Community Health Centres, District hospitals, Referral Hospitals and Medical
	Colleges) and use IT/Mobile technology for creating new interfaces. IT can be used to create and sustain
	robust surveillance systems to remedy the present absence of accurate information on disease burdens
	as well as the frailty of early alert system for outbreak of infectious diseases. The Integrated Disease
	Surveillance System (ISDP) has not fully delivered and surveillance of non-communicable diseases has
	just started. The district health system must be strengthened and links established with non-governmental
	health care providers to develop a reliable and accurate reporting network for infectious diseases and risk
	factors of non-communicable diseases. Without such information, policy and programme planning will
	be enfeebled and impact evaluation will be difficult to undertake. Thus, there is a need to build a vibrant
	Health Information System for monitoring and evaluation.
		</p>
	</div>
	<div class="container">
		<h1>Technology used</h1>
		<dl>
			<dt>Ruby on Rails</dt>
				<dd>Framework for rapid web application development</dd>
			<dt>jQuery</dt>
				<dd>Cross broswer javascript framework</dd>
			<dt>Leaflet</dt>
				<dd>Opensource mapping javascript framework</dd>
			<dt>Android</dt>
				<dd>Opensource mobile operating system from Google</dd>
			<dt>Heroku</dt>
				<dd>Hosting provider for ruby on rails</dd>
			<dt>Github</dt>
				<dd>Social coding using git</dd>
		</dl>
	</div>
	<div class="container">
		<h1>References</h1>
		<ul>
			<li><a href="http://stg2.kar.nic.in/healthnew/IDSP/WeeklyProgReport.aspx">Integrated Disease Suruvellience Project</a></li>
		</ul>
	</div>
</div>