<div id="center">
	<input type="text" class="slider" value="1" data-slider-min="1" data-slider-max="<%= @final_json.length %>" data-slider-step="1" data-slider-value="1" 		data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide">
</div>
<div id="map_leaflet">
</div>
<script type="text/javascript">
	var data = <%= @final_json.to_json.html_safe %>
	var keys = <%= @final_json.keys.to_json.html_safe %>
</script>
<script src="/assets/map1.js?body=1" type="text/javascript"></script>