<!DOCTYPE html>
<html>
<head>
  <title>Tracking The Trend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Tracking The Trend</a>
			<a class="pull-right about" href="/home/about">About</a>
			<div class="result">
				<a id="date"></a>
			</div>
		</div>
	</div>
</div>

<div class="home">
	<%= yield %>
</div>

</body>
</html>